.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 15px;
  grid-column-gap: 15px;
}

.w {
  width: 100%;
  margin: 0 auto;

  .lineBlock {
    display: flex;
    justify-content: center;

    .line {
      border: 1px solid #1E1E1E;
      padding: 10px;
    }
  }

}