.grid {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 50vh;
  border: 1px solid black;
  margin: 0%;



  .main {
    width: 50%;
    display: flex;
    justify-content: space-around;

    .between {
      width: 50%;
    }
  }
}